# Ignorar archivos generados por PSoC Creator
*.rpt
*.cycdx
*.cywrk
*.cydsn/Generated_Source/
*.cydsn/codegentemp/
*.cydsn/backup/
# Ignorar temporales de OneDrive y Windows
*.blend1
*.zip
Thumbs.db
desktop.ini
~$*
