# Ignorar archivos de sistema / temporales
*.blend1
*.zip
*.log
Thumbs.db
desktop.ini
~$*

# Ignorar archivos de PSoC Creator
*.rpt
*.cycdx
*.cywrk
*.cydsn/Generated_Source/
*.cydsn/codegentemp/
*.cydsn/backup/

# Ignorar archivos de compilación y binarios
*.exe
*.out
*.hex
*.obj
*.elf
*.bin
*.map

# Ignorar carpetas comunes de backup
__pycache__/
*.bak
*.tmp
